* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'arial', sans-serif;
  -webkit-appearance: none;
}

body {
  color: #000000;
}

button, input, a {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', 'arial', cursive;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

h4 {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

code {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

ul li {
  list-style-position: inside;
  list-style-type: square;
}

.AppContainer {
  padding: 0;
  margin: 0;
  text-align: center;
}

@keyframes :global(gradients) {
  0%   {background-position: 0 0;}
  25%  {background-position: 50% 0;}
  50%  {background-position: 90% 0;}
  60%  {background-position: 60%;}
  75%  {background-position: 40%;}
  100% {background-position: 0 0;}
}

@keyframes :global(fade) {
  0%   { opacity: 1; }
  50%  { opacity: 0.4; }
  100% { opacity: 1; }
}
